[run]
source =
    services/order-service
    chaosdrill
branch = True
omit =
    */tests/*
    */venv/*
    */.venv*/*
    */__pycache__/*
    */db.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
show_missing = True
